
<footer class="page-footer orange">
      <div class="container">
        <div class="row valign-wrapper">
          <div class="col s12 valign">
            <h6 class="white-text center-align">Made by <a href="https://github.com/mandafae">Amanda</a>, <a href="https://github.com/DTThor">Dylan</a>, <a href="https://github.com/cocomjolk">Michael</a>, and <a href="https://github.com/Rmcavin">Rachel</a> as a four day quarter project at <a href="https://www.galvanize.com/austin">Galvanize</a>.</h6>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
