
<footer class="page-footer grey darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
