<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--Import CSS -->
    <link href="/style.css" type="text/css" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Recipeers</title>
  </head>

  <body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!--Title Bar -->
    <nav>
     <div class="nav-wrapper orange">
       <a href="/" class="brand-logo left">Reci<em>peers</em></a>
       <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
       <ul class="hide-on-med-and-down right">
         <li><div class="row"><form method="post" action="/users/search">
           <input class="input-field col s8" type="text" placeholder="Username" name="username"><button type="submit" class="btn col s4 light-green lighten-1" style="margin-top:7px;margin-bottom:7px;">Search</button></form></div></li>
          <li><a href="/recipes/new"><i class="right small material-icons">control_point</i></a></li>
           <% if (!currentUser) { %>
           <li><a href="#"><div class = 'right avatarContainer'><a href="/users/signin"><i class="material-icons">account_circle</i></a></div></a></li>
           <% } else { %>
            <li><a href="#"><div class = 'right avatarContainer'><a href="/users/<%=currentUser.username%>"><img class='profilePicture' src="<%=currentUser.profile_pic_url%>" alt="User Profile Picture" style="width:50px;height:50px;margin-top:7px;margin-bottom:7px;"></a></div></a></li>
          <% } %>
       </ul>
       <ul class="side-nav" id="mobile-demo">
         <li><div class="row"><form method="post" action="/users/search">
           <input class="input-field col s8" type="text" placeholder="Username" name="username"><button type="submit" class="btn col s4 light-green lighten-1" style="margin-top:7px;margin-bottom:7px;">Search</button></form></div></li>
         <li><a href="/recipes/new"><i class="right small material-icons">control_point</i></a></li>
         <% if (!currentUser) { %>
         <li><a href="#"><div class = 'right avatarContainer'><a href="/users/signin"><i class="material-icons">account_circle</i></a></div></a></li>
         <% } else { %>
          <li><a href="#"><div class = 'right avatarContainer'><a href="/users/<%=currentUser.username%>"><img class='profilePicture' src="<%=currentUser.profile_pic_url%>" alt="User Profile Picture" style="width:50px;height:50px;margin-top:7px;margin-bottom:7px;"></a></div></a></li>
        <% } %>
       </ul>
     </div>
   </nav>

  <script>$(".button-collapse").sideNav();</script>
  <script> $(document).ready(function() {
    $('select').material_select();
  });</script>
