<!--Title Bar -->
<nav>
 <div class="nav-wrapper grey darken-4">
   <a href="#!" class="brand-logo left">Recipeers</a>
   <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
   <ul class="hide-on-med-and-down right">
     <li><a href="#"><i class="right small material-icons">control_point</i></a></li>
     <li><a href="#"><i class="right small material-icons">filter_list</i></a></li>
     <li><a href="#"><div class = 'right avatarContainer'>img here</div></a></li>
   </ul>
   <ul class="side-nav right" id="mobile-demo">
     <li><a href="#"><i class="right small material-icons">control_point</i></a></li>
     <li><a href="#"><i class="right small material-icons">filter_list</i></a></li>
     <li><a href="#"><div class = 'right avatarContainer'>img here</div></a></li>
   </ul>
 </div>
</nav>
