
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 95px;
}

main {
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 220px;
  height: auto;
}

footer {
  position: absolute;
  height: 75px;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #757575;
}

.brand-logo {
  margin-left: 20px;
  font-family: 'Lily Script One', cursive;
}

.brand-logo em {
  color: #1565c0;
}

.signin {
  margin-top: 20px;
}

.mediumScreen {
   width: 50%;
   float: none;
   display: block;
   margin: auto;
}

.side-nav {
  height: auto;
  padding: 15px;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.profileCards {
  flex: 1 1 20%;
  padding: 5px;
  margin: 10px;
  height: auto;
  text-align: center;
}

.profileCards:hover {
  color: white;
  background-color: #9ccc65;
}

.profileCards a {
  color: black;
}

.profileCards:hover a {
  color: white;
}

.profilePicture {
  display: block;
  border-radius: 100%;
  margin: auto;
  height: 200px;
  width: 200px;
}

#upload_widget_opener {
  display: block;
  padding: 10px;
  color: #9e9e9e;
}

.ingredients {
  display: inline;
}

.bigger {
  height: auto;
}


.recipeImg {
  display: block;
  margin: auto;
  padding: 20px;
}

.aboutHalf {
  width: 40%;
  display: inline;
}

.aboutHalf span {
  padding: 3px;
}

.aboutHalf ul {
  width: 50%;
}

.flexRecipe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flexName {
  flex: 1 1 100%;
}

.flexIngred {
  flex: 1 1 40%;
}

.flexImgBox {
  flex: 1 1 40%;
  text-align: center;
}

.flexInstr {
  flex: 1 1 100%;
}

@media screen and (max-width: 700px){
  .flexName {
    order: 1;
  }

  .flexImgBox {
    flex: 1 1 100%;
    order: 2;
  }

  .flexIngred {
    flex: 1 1 100%;
    order: 3;
  }

  .flexInstr {
    order: 4;
  }

}
