
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 95px;
}

main {
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 220px;
  height: auto;
}

footer {
  position: absolute;
  height: 75px;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #757575;
}

.brand-logo {
  margin-left: 20px;
  font-family: 'Lily Script One', cursive;
}

.brand-logo em {
  color: #1565c0;
}

.signin {
  margin-top: 20px;
}

.mediumScreen {
   width: 50%;
   float: none;
   display: block;
   margin: auto;
}

.side-nav {
  height: auto;
  padding: 15px;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.profileCards {
  flex: 1 1 20%;
  padding: 5px;
  margin: 10px;
  height: auto;
  text-align: center;
}

.profileCards:hover {
  color: white;
  background-color: #9ccc65;
}

.profileCards a {
  color: black;
}

.profileCards:hover a {
  color: white;
}

.profilePicture {
  display: block;
  border-radius: 100%;
  margin: auto;
  height: 200px;
  width: 200px;
}

.ingredients {
  display: inline;
}

.bigger {
  height: auto;
}


.recipeImg {
  display: block;
  margin: auto;
  padding: 20px;
}

.aboutHalf {
  width: 40%;
  display: inline;
}

.aboutHalf span {
  padding: 3px;
}

.aboutHalf ul {
  width: 50%;
}

.flexRecipe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flexName {
  flex: 1 1 100%;
}

.flexIngred {
  flex: 1 1 40%;
}

.flexImgBox {
  flex: 1 1 40%;
  text-align: center;
}

.flexInstr {
  flex: 1 1 100%;
}

@media screen and (max-width: 700px){
  .flexName {
    order: 1;
  }

  .flexImgBox {
    flex: 1 1 100%;
    order: 2;
  }

  .flexIngred {
    flex: 1 1 100%;
    order: 3;
  }

  .flexInstr {
    order: 4;
  }

}

/*WIDGET STYLEZZZ*/

#upload_widget_opener {
  display: block;
  padding: 10px;
  color: #9e9e9e;
}

#cloudinary-widget .button:hover, #cloudinary-widget .button.small_button:hover, #cloudinary-widget .upload_button_holder:hover .button {
  background: #9ccc65;
  color: #fff;
}

#cloudinary-overlay.with_theme {
  display: block;
}

#cloudinary-overlay {
  background-color: rgba(0,0,0,0.7);
}

#cloudinary-widget {
  background: #ffffff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#cloudinary-navbar {
  background: #fff;
  border: none;
  border-bottom: 1px solid #eee;
  margin: 0 0 10px 0;
  min-height: 30px;
}

#cloudinary-navbar .source {
  border-right: 0px;
  border-bottom: 3px solid;
  border-color: transparent;
  height: 30px;
  width: 87px;
}

#cloudinary-navbar .source .label {
  font-size: 14px;
  line-height: 22px;
  width: 87px;
}

#cloudinary-navbar .source .icon {
  display: none;
}

#cloudinary-navbar .source.active {
  background: none;
  border-bottom: 3px solid #037FCB;
}

#cloudinary-navbar .source.active .label {
  color: #000;
}

#cloudinary-widget .drag_area {
  background: #fff;
  border: 2px dashed #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 30px 20px 0px 20px;
}

#cloudinary-widget .drag_area.in {
  border-color: #01BB16
}

#cloudinary-navbar .sources .icon {
  background-position-x: 0px ;
}

#cloudinary-navbar .close {
  color: rgb(85, 85, 85);
}

#cloudinary-widget .button, #cloudinary-widget .button.small_button {
  box-sizing: border-box;
  color: #9ccc65;
  background: none;
  border: 2px solid #9ccc65;
}

#cloudinary-widget .button {
  height: 45px;
  line-height: 30px;
}

#cloudinary-widget .upload_button_holder .button {
  width: 180px;
}

#cloudinary-widget .button.small_button {
  height: 35px;
  width: 140px;
  line-height: 25px;
}

#cloudinary-widget .button:hover, #cloudinary-widget .button.small_button:hover, #cloudinary-widget .upload_button_holder:hover .button {
  background: #9ccc65;
  color: #fff;
}

#cloudinary-widget .panel {
  height: 479px;
}

#cloudinary-widget .panel.local {
  margin-top: 20px;
}

#cloudinary-widget .panel.local .drag_area .drag_content .label {
  color: #00619D;
  font-size: 22px;
}

#cloudinary-widget .panel.progress .thumbnails {
  margin-top: 4px;
}

#cloudinary-widget .panel.camera .form .button_holder {
  margin-top: 10px;
  margin-bottom: 10px;
}

#cloudinary-widget .panel.camera .note {
  font-weight: normal;
  font-size: 13px;
  padding: 4px 20px 4px 20px;
}


#cloudinary-widget .panel.camera video {
  border-width:0px;
}

#cloudinary-widget .camera .form {
  background:#fff;
  border: 1px solid #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 0px 20px 0px 20px;
  padding-top: 10px;
}


#cloudinary-overlay.inline .widget {
  border: 1px solid #ddd;
}

@media screen and (max-width: 767px) {
  #cloudinary-widget .drag_area {
    border: none;
    background: none;
  }
}
