<%- include('../partials/header') %>

<main class = 'container'>
  <div class= 'row'>
    <% favorites.forEach((recipe) => { %>
      <!--container card -->
      <div class = 'card'>
        <div class = 'row valign-wrapper'>
          <div class = 'col s2 valign'>
            <img class='profilePicture' src="https://assets.merriam-webster.com/mw/images/article/art-wap-article-main/puppy-3143-7cfb4d6a42dfc7d9d1ae7e23126279e8@1x.jpg" alt="User Profile Picture" style="width:50px;height:50px;">
          </div>
          <div class = 'col s6'>
            <h5><a href="#" class="black-text"><%= recipe.name %></a></h5> <br>
            <a href="#"><i class="material-icons black-text">favorite</i></a>
            <a href="#"><i class="material-icons black-text">check</i></a>
            <a href="#"><i class="material-icons black-text">forward</i></a>
          </div>
          <div class = 'col s4 valign'>
            <img src="http://images.media-allrecipes.com/userphotos/250x250/3570996.jpg" alt="Recipe Photo" class="right" style="width:100px;height:100px;">
          </div>
        </div>
      </div>
    <% }) %>
</main>

  <%- include('../partials/footer') %>
