

<%- include('../partials/header') %>

  <div class = 'container signin'>
    <div class= 'row'>
      <div class=".mediumScreen">
        <main class = 'card'>
          <form method="POST">
<<<<<<< HEAD
          <label for="username">Username:</label>
          <input type="text" name="username" required>
          <label for="password">Password:</label>
          <input type="password" name="password" required>
          <button type="submit" class ="btn light-green lighten-1" formaction="/users/login">Log In</button>
          <button type="submit" class ="btn light-green lighten-1" formaction="/users/register">Register</button>
=======
            <div class="input-field">
              <label for="username">Username:</label>
              <input type="text" name="username" required>
            </div>
            <div class="input-field">
              <label for="password">Password:</label>
              <input type="password" name="password" required>
            </div>
              <button type="submit" class ="btn light-green lighten-1" formaction="/users/login">Log In</button>
              <button type="submit" class ="btn light-green lighten-1" formaction="/users/register">Register</button>
>>>>>>> 345e3c8ebbea63d58b237104b13d2d484a35f8ea
        </form>
        </main>
      </div>
    </div>
  </div>

  <%- include('../partials/footer') %>
