<%- include('../partials/header') %>
<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

  <div class = 'container bigger'>
    <div class= 'row bigger'>
      <div class=".mediumScreen">
        <main class = 'card bigger'>
          <form class = "newRecipe" method="POST" action="/recipes">
            <label for="name" required>Recipe Name:</label>
            <input type="text" name="name">

              <div>Ingredients</div>

              <div id = 'newIng'>
                <div class = 'oneIng inline'>
                  <label for="quantity">Quantity</label>
                  <input type="text" name="quantity" required>
                  <label for="uom">Unit of Measure</label>
                  <div class = "input-field">
                    <select name="uom" required>
                      <option value="whole">whole</option>
                      <option value="clove">clove</option>
                      <option value="pinch">pinch</option>
                      <option value="teaspoon">teaspoon</option>
                      <option value="tablespoon">tablespoon</option>
                      <option value="cups">cups</option>
                      <option value="ounces">ounce</option>
                      <option value="pounds">pounds</option>
                    </select>
                  </div>
                  <label for="ingredient">ingredient</label>
                  <input type="text" name="ingredient" required>
                </div>
              </div>
              <button type="button" style="width: 10px;"onClick="addInput(event)" class="btn light-green lighten-1"><i class="material-icons">add_circle_outlin</i></button>

              <label style="display:block; top-margin:10px;" for="instructions">instructions</label>
              <div class = "input-field">
                <textarea class="materialize-textarea" name="instructions" required></textarea>
              </div>
              <label for="dietary">Dietary Restrictions</label>
              <div class = "input-field">
                <select name="dietary" required multiple>
                  <option value="none" selected="selected">none</option>
                  <option value="gluten_free">gluten free</option>
                  <option value="dairy_free">dairy free</option>
                  <option value="vegetarian">vegetarian</option>
                  <option value="vegan">vegan</option>
                  <option value="pescatarian">pescatarian</option>
                </select>
              </div>
              <label for="total_time">Total Time</label>
              <input type="text" name="total_time" required>

              <img id="thumbnail" src="" alt="">

              <label for="picture_link">Picture URL</label>
              <input type="text" id="pic" name="recipe_pic_url" value="" display="none">

              <a href="#" id="upload_widget_opener"><i class="material-icons">add_to_photos</i>Photo of Recipe</a>
            <input id="submit-button" type="submit" class ="btn light-green lighten-1">
          </form>


          <script>
            // submit is disabled
            $('#submit-button').prop('disabled', true);

            document.getElementById("upload_widget_opener").addEventListener("click", function() {
              cloudinary.openUploadWidget({
                cloud_name: 'dcc5vb7ot',
                upload_preset: 'ft2wpaew',
                theme: 'minimal',
                multiple: false,
                cropping: 'server',
              },
                function(error, result) {
                  $('#thumbnail').attr('src', result[0].url).attr('width', '100px');
                  //click and complete widget upload, then enable submit
                  //grab submit button and add onclick to it
                  $('#submit-button').prop('disabled', false).click(()=>{
                    $('#pic').attr('value', result[0].url);
                  });
                }, false);
              });

              function addInput(event) {
                event.preventDefault();
                let htmlText = '<label for="quantity">Quantity</label><input type="text" name="quantity" required><label for="uom">Unit of Measure</label><div class = "input-field"><select name="uom" required><option value="whole">whole</option><option value="clove">clove</option><option value="pinch">pinch</option><option value="teaspoon">teaspoon</option><option value="tablespoon">tablespoon</option><option value="cups">cups</option><option value="ounces">ounce</option><option value="pounds">pounds</option></select></div><label for="ingredient">ingredient</label><input type="text" name="ingredient" required>';
                let oneIng = document.createElement('div');
                oneIng.innerHTML = htmlText;
                document.getElementById('newIng').appendChild(oneIng);
                $('select').material_select();
              };

            </script>
        </main>
      </div>
    </div>
  </div>

  <%- include('../partials/footer') %>
